form {
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}
div input[type='text'] {
    margin-left: 10px;
}
div input[type='password'] {
    margin-left: 10px;
}
button {
    margin-left: 10px;
}